.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.card hr {
  width: 100%;
}

.webhookGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

/* Alternative grid assignment */
/* .webhookGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .5fr .5fr 1fr;
  grid-template-areas:
    "top-left top-right"
    "top-left top-right"
    "bottom-left bottom-right"
  ;
} */

.tableContainer{
  padding: 0 1em;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tableContainer h3 {
  text-align: left;
  margin: 0.25rem 0;
}

.tableDisplaySelectors > * {
  margin-left: .5rem;
  font-size: 1.1rem;
}

.table {
  text-align: left;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}

.table .row {
  padding: .5em;
}

.table .tableItem {
  padding-left: .5em;
  font-size: .75rem;
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: #56565655;
}
.table tr td:first-child {
  width: 30%;
  background-color: #565656;
}
